body {
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
}
strong {
  font-weight: 600;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}
h2 {
  font-weight: 300;
}
a {
  color: black;
}
img {
  padding: 10px;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}
.menu li {
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  color: black;
  padding: 3px 6px;
}
.menu li.active a {
  background-color: black;
  color: white;
}
.content {
  margin: 20px auto;
  max-width: 1000px;
}
.flex {
  display: flex;
  flex-direction: row; 
}
.flex-1 {
  flex: 1;
  text-align: left;
}
.flex-2 {
  flex: 2;
  text-align: left;
}
.perex {
  color: grey;
}
.date {
  font-size: 60%;
  margin-left: 5px;
  color: #b3b3b3;
}
.social-icon {
  padding: 0;
  position: relative;
  top: 5px;
}
.hp-list {
  list-style-type: none;
  padding-left: 0;
}
.hp-list li {
  padding-top: 10px;
}
hr {
  border-top: 0;
  border-bottom: 1px solid #0000002e;
}
.gear img {
  border: 1px solid #0000002e;
  margin-left: 10px;
}

@media screen and (max-width: 800px){
  .flex {
    display: block;
  }
}

@media screen and (max-width: 500px){
  .menu li {
    margin: 5px 0;
    display: block;
  }
}
